@charset "utf-8";
h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.purchase-visual{
    width: 100%;
}
.purchase-visual img{
    width: 100%;
}
.purchase-recommend .inner > ul{
    display: flex;
    justify-content: space-between;
}
.purchase-recommend .inner > ul > li{
    width: 30%;
    background-color: #eee;
    padding: 20px;
}
.review-name li{
    align-content: center;
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}
.review-name li:first-child{
    width: 20%;
}
.review-name img{
    width: 100%;
}
.review-name{
    display: flex;
}
.review-star{
    width: 40%;
    margin: 10px 0;
}