@charset "utf-8";
.plan-title {
  width: 100%;
}
.plan-title ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.size-select ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.size-select ul li{
width: 45%;
justify-content: center;
}
.payment-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.total-amount {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}
