@charset "utf-8";
.plan-title{
    
}
.payment-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.total-amount {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}
