@charset "utf-8";
.recommend{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 100px;
}
.reviewking h2{
  margin-bottom: 70px;
}
.recommend-top{
  display: block;
  position: relative;
}
.recommend-content{
  gap: 20px;
}
/* 타이틀 */
h2.title {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  display: inline-block;  /* 텍스트의 너비에 맞춤 */
}
.title-wrap{
  text-align: center;
  margin: 70px 0;
}
.recommend h2::after {
  content: "";
  display: block;
  width: 100%;              /* h2의 너비에 맞게 설정 */
  height: 16px;
  border-radius: 5px;
  background-color: #62C975;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* 내용 */
.recommend-content {
  display: flex;
  /* flex-wrap: wrap; 기본적으로 줄 바꿈 허용 */
}

.rec-content {
  max-width: 380px;
  width: 100%;
  border-radius: 10px;
  
  margin-bottom: 20px; /* 아래 여백 추가 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 그림자 적용 */
}

.rec-content img {
  margin-top: 20px; /* 이미지 상단에 여백 추가 */
}


.rec-title{
  padding-top: 5%;
  font-weight: bold;
  font-size: 20px;
}
.rec-txt{
  padding: 10px;
  line-height: 150%;
  font-size: 18px;
}
.recommendtab{
  display: none;
}

/* 반응형 스타일 */
/* 태블릿 및 작은 화면 대응 */
@media (max-width: 1024px) {
 .recommend{
  display: none;
 }
  .recommendtab{
    position: relative;
    display: block;
  }
  .rectabwrap{
    display: block;
    position: relative;
  }
  .rectabcon{
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: #F5F5F7; */
  }
  .rectabtxt{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .rectabwrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .rectabcon{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  #rectabtitle::after {
    content: "";
    display: block;
    width: 100%;              /* h2의 너비에 맞게 설정 */
    height: 16px;
    border-radius: 5px;
    background-color: #62C975;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

/* 모바일 화면 대응 */
@media (max-width: 768px) {
  .recommend{
    margin-top: 0px
  }
 
  .recommend-content {
    flex-direction: column; /* 세로 정렬로 변경 */
    align-items: center; /* 중앙 정렬 */
  }
  .rec-txt{
    padding-top: 10%;
  }
}


/* 작은 모바일 화면 대응 */
@media (max-width: 600px) {
  .rectabtxt h2{
    font-size: 20px;
  }
  .rectabtxt p{
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .rectabtxt h2{
    font-size: 18px;
  }
  .rectabtxt p{
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .rectabtxt h2{
    font-size: 16px;
  }
  .rectabtxt p{
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .rectabtxt h2{
    font-size: 15px;
  }
  .rectabtxt p{
    font-size: 12px;
  }
}