@charset "utf-8";
/* season */
/* 기본 이미지 */

/*  */
.season-fruit,
.season-veg {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 30px 50px 0px 50px;
}
.season-intro {
  background-color: #f5f5f5;
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
}
.swipertitlewrap {
  padding: 10px 15px;
}
.season-intro {
  padding: 0px 50px 50px 50px;
}
.fruititle {
  text-align: center;
  background-color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 550;
}
.vegtitle {
  text-align: center;
  background-color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 550;
}
.seasontxt {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.fruitxt {
  font-size: 24px;
  font-weight: bold;
}

.kg {
  font-size: 16px;
}

.fruitxt2 {
  font-size: 20px;
  color: #6d6d6d;
}
.season-intro li {
  font-family: "Uiyeun";
  font-size: 34px;
}
.seasonimg img {
  width: 100%;
}

.seasonprice {
  font-size: 20px;
}
.swiperwrap {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 0 10px;
}

/* 스와이퍼 */

/* 내비게이션 버튼 위치 */
/* 내비게이션 버튼 위치 */
.season .swiper-button-next,
.season .swiper-button-prev {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.season .swiper-button-next {
  right: 0px;
}

.season .swiper-button-prev {
  left: 0px;
}

.season .swiper-button-next::after,
.season .swiper-button-prev::after {
  font-size: 22px;
  color: #ff6741;
}
.seasonimg {
  position: relative; /* 가상 요소의 위치를 기준으로 함 */
  display: inline-block;
  animation: updowns 1.8s infinite ease-in-out; /* 이미지의 위아래 애니메이션 */
}



@keyframes updowns {
  0% {
    transform: translateY(0); /* 이미지의 초기 위치 */
  }
  50% {
    transform: translateY(-15px); /* 이미지가 위로 올라가면서 */
  }
  100% {
    transform: translateY(0); /* 다시 기본 위치 */
  }
}

@keyframes shadow {
  0% {
    transform: scale(1); /* 그림자의 초기 크기 */
    opacity: 0.2; /* 그림자의 초기 투명도 */
  }
  50% {
    transform: scale(0.8); /* 이미지가 올라갈 때 그림자가 줄어듦 */
    opacity: 0.1; /* 그림자가 더 희미해짐 */
  }
  100% {
    transform: scale(1); /* 다시 기본 그림자 크기로 */
    opacity: 0.2; /* 그림자 투명도 복원 */
  }
}
/* Swiper 설정 */
.season .swiper-season {
  overflow: hidden;
  margin: 0 10px;
}
@media (max-width: 635px) {
  .seasonimg img {
    max-width: 240px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 30px;
  }
  .fruitxt2 {
    font-size: 18px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 18px;
  }
  .fruitxt {
    font-size: 20px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 540px) {
  .seasonimg img {
    max-width: 200px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 28px;
  }
  .fruitxt2 {
    font-size: 17px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 17px;
  }
  .fruitxt {
    font-size: 19px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .season-intro {
    padding: 0px 30px 30px 30px;
  }
  .season-fruit,
  .season-veg {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 30px 0px 30px;
  }
  /* 스와이퍼 버튼 */
  .season .swiper-button-next::after,
  .season .swiper-button-prev::after {
    font-size: 16px;
    color: #ff6741;
  }
  .season .swiper-button-next,
  .season .swiper-button-prev {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
}
@media (max-width: 448px) {
  .seasonimg img {
    max-width: 160px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 26px;
  }
  .fruitxt2 {
    font-size: 16px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 16px;
  }
  .fruitxt {
    font-size: 18px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .season-intro {
    padding: 0px 30px 30px 30px;
  }
  .season-fruit,
  .season-veg {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 30px 0px 30px;
  }
  /* 스와이퍼 버튼 */
  .season .swiper-button-next::after,
  .season .swiper-button-prev::after {
    font-size: 16px;
    color: #ff6741;
  }
  .season .swiper-button-next,
  .season .swiper-button-prev {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .season .swiper-button-next {
    right: -3px;
  }

  .season .swiper-button-prev {
    left: -3px;
  }
  .fruititle {
    text-align: center;
    background-color: #fff;
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 550;
  }
  .vegtitle {
    text-align: center;
    background-color: #fff;
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 550;
  }
  .kg {
    font-size: 16px;
  }
}
@media (max-width: 395px) {
  .seasonimg img {
    max-width: 140px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 24px;
  }
  .fruitxt2 {
    font-size: 15px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 15px;
  }
  .fruitxt {
    font-size: 17px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .season-intro {
    padding: 0px 25px 25px 25px;
  }
  .season-fruit,
  .season-veg {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 25px 0px 25px;
  }
  /* 스와이퍼 버튼 */
  .season .swiper-button-next::after,
  .season .swiper-button-prev::after {
    font-size: 13px;
    color: #ff6741;
  }
  .season .swiper-button-next,
  .season .swiper-button-prev {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .season .swiper-button-next {
    right: -5px;
  }

  .season .swiper-button-prev {
    left: -5px;
  }
  .fruititle {
    text-align: center;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 550;
  }
  .vegtitle {
    text-align: center;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 550;
  }
}
@media (max-width: 355px) {
  .seasonimg img {
    max-width: 120px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 22px;
  }
  .fruitxt2 {
    font-size: 14px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 14px;
  }
  .fruitxt {
    font-size: 15px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .season-intro {
    padding: 0px 23px 23px 23px;
  }
  .season-fruit,
  .season-veg {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 23px 0px 23px;
  }
  /* 스와이퍼 버튼 */
  .season .swiper-button-next::after,
  .season .swiper-button-prev::after {
    font-size: 12px;
    color: #ff6741;
  }
  .season .swiper-button-next,
  .season .swiper-button-prev {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .season .swiper-button-next {
    right: -5px;
  }

  .season .swiper-button-prev {
    left: -5px;
  }
  .fruititle {
    text-align: center;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 550;
  }
  .vegtitle {
    text-align: center;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 550;
  }
  .kg {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .seasonimg img {
    max-width: 120px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 22px;
  }
  .fruitxt2 {
    font-size: 14px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 14px;
  }
  .fruitxt {
    font-size: 15px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .season-intro {
    padding: 0px 23px 23px 23px;
  }
  .season-fruit,
  .season-veg {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 23px 0px 23px;
  }
  /* 스와이퍼 버튼 */
  .season .swiper-button-next::after,
  .season .swiper-button-prev::after {
    font-size: 12px;
    color: #ff6741;
  }
  .season .swiper-button-next,
  .season .swiper-button-prev {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .season .swiper-button-next {
    right: -5px;
  }

  .season .swiper-button-prev {
    left: -5px;
  }
  .fruititle {
    text-align: center;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 550;
  }
  .vegtitle {
    text-align: center;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 550;
  }
  .kg {
    font-size: 14px;
  }
}
@media (max-width: 324px) {
  .seasonimg img {
    max-width: 100px;
    width: 100%;
  }
  .season-intro li {
    font-family: "Uiyeun";
    font-size: 20px;
  }
  .fruitxt2 {
    font-size: 13px;
    color: #6d6d6d;
  }
  .seasonprice {
    font-size: 13px;
  }
  .fruitxt {
    font-size: 14px;
    font-weight: bold;
  }
  .seasontxt {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .season-intro {
    padding: 0px 22px 22px 22px;
  }
  .season-fruit,
  .season-veg {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 8px 22px 0px 22px;
  }
  /* 스와이퍼 버튼 */
  .season .swiper-button-next::after,
  .season .swiper-button-prev::after {
    font-size: 11px;
    color: #ff6741;
  }
  .season .swiper-button-next,
  .season .swiper-button-prev {
    position: absolute;
    top: 73%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .season .swiper-button-next {
    right: -3px;
  }

  .season .swiper-button-prev {
    left: -3px;
  }
  .fruititle {
    text-align: center;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 550;
  }
  .vegtitle {
    text-align: center;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 550;
  }
  .kg {
    font-size: 13px;
  }
}
