@charset "utf-8";
.visual {
  padding-top: 100px;
  width: 100%;
  aspect-ratio: 1920/700;
}
.main-banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* padding-top: 100px; */
  display: block;
  position: relative;
}
.main-banner > img {
  width: 100%;
  height: 100%;
}

.main-banner button {
  border: none;
  font-size: 1.77vw;
  font-weight: 700;
  color: white;
  position: absolute;
  width: 19.2%;
  height: 12.7%;
  border-radius: 30px;
  right: 5.5%;
  bottom: 30.4%;
}
.main-banner button a{
  color: #fff;
}
.main-banner > p {
  position: absolute;
  bottom: 20.2%;
  right: 5.5%;
  font-size: 1.77vw;
  font-weight: 700;
}
.main-banner > a {
  position: absolute;
  bottom: 13.5%;
  right: 5.5%;
  font-size: 1.25vw;
}
.main-banner ul {
  display: flex;
  align-items: end;
}
.main-banner a p {
  /* position: relative; */
  display: inline;
  margin-right: 1vw;
}
.main-banner a img {
  width: 2.25vw;
  justify-content: end;
}
.main-banner list-style {
  height: auto;
}
.visual1 button {
  background-color: #ff6741;
  cursor: pointer;
}
.visual1 button:hover{
  background-color: #e2360a;
}
.visual2 {
  color: white;
}
.visual2 button {
  background-color: #62c975;
 cursor: pointer;
}
.visual2 button:hover{
  background-color: #43AE56;
}
.visual2 p {
  color: white;
}
@media screen and (max-width:1180px){
  .visual{
    padding-top: 90px;
  }
}
@media screen and (max-width: 1024px) {
  .visual {
    
    aspect-ratio: 1920/900;
  }
  .main-banner button {
    border: none;
    font-size: 4vw;
    font-weight: 700;
    color: white;
    position: absolute;
    width: 40%;
    height: 19%;
    border-radius: 40px;
    right: 5.5%;
    bottom: 50%;
  }
  .main-banner > p {
    position: absolute;
    bottom: 27.5%;
    right: 5.5%;
    font-size: 3.5vw;
    font-weight: 700;
  }
  .main-banner > a {
    position: absolute;
    bottom: 15%;
    right: 5.5%;
    font-size: 3.2vw;
  }
  .main-banner a img {
    width: 4.5vw;
    justify-content: end;
  }
}
@media screen and (max-width: 768px) {
  .visual {
    padding-top: 70px;
  }
}
@media screen and (max-width : 480px){
  .visual{
    aspect-ratio: 1/1.4;
  }
.main-banner button {
  border: none;
  font-size: 6vw;
  font-weight: 700;
  color: white;
  
  position: absolute;
  width: 65%;
  height: 11%;
  border-radius: 15px;
  right: 50%;
  transform: translateX(50%);
  bottom: 40%;
}
.main-banner > p {
  position: absolute;
  bottom: 25%;
  right: 50%;
  transform: translateX(50%);
  font-size: 4.5vw;
  white-space: nowrap;
  font-weight: 700;
}
.main-banner > a {
  position: absolute;
  bottom: 15%;
  transform: translateX(50%);
  right: 50%;
  font-size: 5vw;
  white-space: nowrap;
  font-weight: 700;
}
.main-banner a img {
  width: 7vw;
  justify-content: end;
}
.visual2 p{
  color: black;
}
}